* {
  margin: 0;
  padding: 0;
  outline: none !important;
  overflow: hidden;
}

.top-bar {
  background-color: #2f5375;
  color: white;
  font-size: 18px;
  height: 5vh;
  padding-top: 10px;
  margin: 0;
  padding-left: 10px;
  width: 100%;
}

.top-bar-login-status {
  font-size: 10px;
  padding-top: 5px;
  width: 150px;
}

body {
  background-color: #002242;
  height: 100vh;
}

.page-title {
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.item-table {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  top: 2vh;
  left: 0vh;
  right: 0vh;
  margin: auto;
  width: 20%; /* Could be more or less, depending on screen size */
  font-weight: bold;
}

.modal-action {
  background-color: #fefefe;
  margin: 100px 15px; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Modal (background) */
.modal-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.input-container {
  padding: 10px 0px;
}

.input-container #name {
  width: 300px;
}

.modal-action-btn {
  width: 50px;
  margin-top: 10px;
  color: white;
  background-color: #f77800;
}

table {
  table-layout: fixed;
  width: 200px;
}

th:first-child,
td:first-child {
  width: 80px;
  overflow: hidden;
  text-align: center;
}

th,
td {
  border: 2px solid #2f5375;
  width: 200px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
}

.unverified {
  color: red;
}

.verified {
  color: #14eb6b;
}

.edit-btn {
  background-color: white;
  width: 50px;
  font-weight: bold;
  color: #002242;
}

.add-item-btn {
  background-color: #f77800;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  font-weight: bold;
  color: #002242;
}

.verify-btn {
  background-color: #f77800;
  width: 50px;
  font-weight: bold;
  color: #2f5375;
}
